.home {
    margin-top: 30px;
    width: 100%;
    height: 100%;
};

.cardbody123 {
    text-align: center;
}

body {
	background: #f2f2f2 !important;
	/* background: #314456 !important;
	color: #e6e6e6; */
}

.jumbotron {
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#upmost {
	margin-top: 75px;
	padding-left: 12px;
	padding-right: 12px;
}


.scrollbox {
	  display: block;
	  height: 680px;
	  overflow-y: scroll;
	  scroll-behavior: smooth;
	  padding-right: 15px !important;
}

#padding {
	padding-right: 0px;
}

.col-md-9 {
	padding: 0px;
}

::-webkit-scrollbar {
	display: none;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -30px;
    padding: 0 0 30px 0px;   /* new padding */
}

.imgresize {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.rutuj {
	padding: 0;
  	height: 150px !important;   /* change in media query */
}

.rutuj2 {
	margin-bottom: 7px;
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rutuj3 {
	padding: 0;
  	height: 250px !important;   
}

.startcontain {
	margin-left: 0px !important;
	margin-right: 0px !important;
	width: 100% !important;
}

.bug {
	padding-right: 0 !important; 
	padding-left: 0 !important;   
}

.big-img {
	height: 314px; /*change for responsive*/
}

.articimage {
	height: 600px; /*change for responsive*/
}

.car {
	height: 180px;
}

.btn {
	background: #61d199;
	color: #fff;
}

.cat {
	padding: 25px 15px 0px 15px;
}

.modaltext {
	margin: 0;
}

.big-art {
	height: 100%;
}

.bighome1 {
	padding-left: 0px !important;
	padding-right: 5px;
}

.bighome2 {
	padding-left: 5px;
	padding-right: 0px !important;
}

.last {
	margin-bottom: 0;
}

.commentbox {
	padding-right: 0;
    padding-top: 15px;
}

.sidebox {
	padding-left: 0;
}

.center_stuff {
	text-align:center;
}

.form_card {
	width: 400px;
}

.my_icon {
	height: 70px;
	width: 70px;
}

@media only screen and (max-width: 768px) 
{
	.rutuj {
		padding: 0;
  		height: 250px !important; 
	}
	.artic-image {
		height: 250px !important;
	}
	.big-img {
		height: 220px;
	}
	.scrollbox{
		display: block;
	  height: auto;
	  overflow-y: visible;
	  scroll-behavior: auto;
	  padding-right: 15px !important;
	}
	/* .bighome1 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.bighome2 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.last {
		margin-bottom: 7px;
	} */
	
	.sidebox {
		padding-left: 15px;
	}
	#parent {
		display:flex;
		flex-flow: column;
	}
	#a{order:2;}
	#b{order:1;}
}

@media only screen and (max-width: 990px) {
	.bighome1 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.bighome2 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.last {
		margin-bottom: 7px;
	}
}
